<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" xml:lang="{S_USER_LANG}">
<head>
<!-- INCLUDE ca_config.html -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="content-type" content="text/html; charset={S_CONTENT_ENCODING}" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-language" content="{S_USER_LANG}" />
<meta http-equiv="imagetoolbar" content="no" />

{META}
<title>{SITENAME} &bull; {PAGE_TITLE}</title>

<link href="{T_STYLESHEET_LINK}" rel="stylesheet" type="text/css" media="screen, projection" />
<link media="only screen and (max-device-width: 480px)" href="{T_THEME_PATH}/iphone.css" type="text/css" rel="stylesheet" />

</head>

<body id="phpbb" class="section-{SCRIPT_NAME} {S_CONTENT_DIRECTION}">
<div id="main">

<p class="top"><a id="top" name="top" accesskey="t"></a></p>

<div id="global" style="margin: 0 auto;">

    <p class="skiplink"><a href="#start_here">{L_SKIP}</a></p>

	<!-- header start -->
    <!-- IF not S_IS_BOT -->
    <div id="topnav">
        <div class="left"></div>
        <div class="right"></div>
        <ul class="linklist topnav leftside">
            <li>
                <a href="https://the-starport.com" title="The Starport">The Starport</a>
            </li>
            <li>
                <span>&bull;</span>
                <a href="https://the-starport.net/discord" title="The Starport Discord">Discord</a>
            </li>
        </ul>
    </div>
    <!-- ENDIF -->

	<div id="logo"><a href="{U_INDEX}"><img src="./styles/ca_orbital/imageset/tlr_logo.png" alt="" title=""><span>{SITENAME}</span></a></div>
	<!-- header end -->

    <div id="page-header-msg">
		<div class="block-header"><span></span><div></div></div>
       <div class="block-content"><div class="block-inner"><div class="block-inner2">
            	
		<table width="100%">
			<tbody><tr><td style="text-align:center;width:100%;">

            <h2 style="color:red;">Important Message</h2>
            <h3>You are browsing the archived Lancers Reactor forums. You cannot register or login.<br>
            The content may be outdated and links may not be functional.</h3><br>
            <h4>To get the latest in Freelancer news, mods, modding and downloads, go to<br>
            	<a href="https://the-starport.com">The-Starport</a></h4>
    	</td></tr> 
    </tbody></table>
    
    	</div></div></div>
    <div class="block-footer"><span></span><div></div></div>
	</div>
    <p></p>
	<div id="page-header">
		<div class="navbar navbar-top" id="navbar-top">
            <div class="block-header"><span></span><div></div></div>
            <div class="block-content"><div class="block-inner"><div class="block-inner2">
            <ul class="linklist navlinks">
                <li class="icon-home"><!-- IF .navlinks --><span class="home-extra"><!-- ENDIF --><a href="{U_INDEX}" accesskey="h">{L_INDEX}</a> <!-- BEGIN navlinks --> <strong>&#8249;</strong> <!-- IF navlinks.S_LAST_ROW --></span><!-- ENDIF --><a href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a><!-- END navlinks --></li>
            </ul>
            <div class="block-clear"></div>
            </div></div></div>
            <div class="block-footer"><span></span><div></div></div>
		</div>
	</div>
    <p></p>

	<a name="start_here"></a>

	<div id="page-body">
		<div id="content-start"></div>
